body{
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 11px, transparent 22px, transparent 11px);
    background-blend-mode: multiply;
}